name: Create Releasae

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get tag name and version # Transforms 'refs/tags/v1.0' into 'v1.0' as name and '1.0' version.
        id: get_tag_info
        run: |
          echo ::set-output name=NAME::${GITHUB_REF/refs\/tags\//}
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}

      - name: Checkout code # This already switches to the tag invoking the workflow.
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Gradle
        run: ./gradlew build

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_tag_info.outputs.NAME }}
          release_name: ${{ steps.get_tag_info.outputs.NAME }}
          body: Nixer Spring Plugin - release ${{ steps.get_tag_info.outputs.NAME }}
          draft: true
          prerelease: false

      - name: Upload bloom-tool asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bloom-tool/build/distributions/bloom-tool-${{ steps.get_tag_info.outputs.VERSION }}.zip
          asset_name: bloom-tool-${{ steps.get_tag_info.outputs.VERSION }}.zip
          asset_content_type: application/zip

      - name: Upload ip_cloud_ranges asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/distributions/ip_cloud_ranges.zip
          asset_name: ip_cloud_ranges.zip
          asset_content_type: application/zip
